@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Sansita:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Sansita', sans-serif;
	padding: 0;
	margin: 0;
	color: #a31621;
	background-color: #931019;
}
p, main li {
	font-family: 'Noto Sans', sans-serif;
	color: #2e2532;
	margin: 8px 8px;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}
.flex-container-row {
    display: flex;
    justify-content: center;
}
.jumbotron {
	font-size: 20px;
	background-color: #fadbde;
}
h1 {
	font-size: 2.4em;
	margin-top: 50px;
	margin-bottom: 0;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
dfn {
	font-weight: bold;
}
body > header {
	display: inline;
}
nav {
	padding: 8px;
	background-color: #fadbde;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	align-self: flex-start;
}
nav ul {
	margin: 0;
}
nav li {
	list-style-type: none;
	margin: 10px;
	display: inline;
}
nav a {
	font-size: 1.2em;
	font-weight: 400;
	text-decoration: none;
	color: #a31621;
	padding: 10px;
	border-radius: 10px;
}
nav a:hover {
	font-weight: bold;
	color: #f7f7f2;
	background: -webkit-linear-gradient(top, #a31621, #e43a48);
}
.navbar {
	flex-wrap: wrap;
}
main {
	margin-top: 20px;
}
#content {
	flex-basis: 55%;
}
aside {
	flex-basis: 25%;
}
aside header {
	text-align: center;
}
.about-me {
	font-size: 0.8em;
}
.brand-image {
	max-height: 160px;
	object-position: center;
	margin: 20px;
}
.illustration-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}
.profile-image {
	max-width: 140px;
	border-radius: 50%;
}
.icon {
	height: 36px;
	margin: 8px;
}
.icon-small {
	height: 24px;
	margin: 8px;
}
.icon-toggle {
	height: 24px;
}
.info {
	justify-content: flex-start;
}
.info p, .info img {
	margin-top: 8px;
	text-align: left;
	max-width: 220px;
	font-size: 0.9em;
	font-weight: bold;
	color: #a31621;
}
.card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    margin: 20px 20px;
    background-color: #fffff3;
}
#contentList {
	flex-wrap: wrap;
}
.note {
	margin: 0;
	height: 50px;
	border-bottom: 3px solid #fadbde;
	align-items: center;
}
.note:hover {
	background-color: #fadbde;
	border-radius: 10px;
}
.note-title ~ img:hover {
	cursor: pointer;
}
.note-title {
	text-align: left;
	width: 90%;
	padding: 10px 0;
}
.note-title:hover {
	cursor: pointer;
}
.note-content {
	visibility: hidden;
	height: 0;
}
.show {
	padding: 10px 10px;
	visibility: visible;
	height: 100%;
}
.content-list {
	margin: 8px 8px;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	background-color: #fadbde;
	flex-basis: 40%;
}
.content-list h4 {
	padding: 0;
	margin: 0;
}
footer {
	text-align: center;
	background-color: #fadbde;
	padding: 8px;
	margin-top: 20px;
	position: static;
	width: 100%;
	bottom: 0;
}
@media screen and (max-width: 516px) {
	#contentList {
		flex-direction: column;
	}
	.content-list {
		flex-basis: 100%
	}
}
@media screen and (max-width: 700px) {
	.jumbotron {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.brand-image {
		max-width: 100px;
		margin-top: 10px;
		justify-content: center;
	}
	h1 {
		margin: 10px;
	}
	.about-me {
		font-size: 1em;
	}
}
@media screen and (max-width: 1061px) {
	main {
		flex-direction: column;
	}
	#content, aside {
		align-items: center;
	}
	.card {
		padding: 15px;
	}
}
