@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Sansita:wght@400;700&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Sansita', sans-serif;
	padding: 0;
	margin: 0;
}
p {
	font-family: 'Noto Sans', sans-serif;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 800px;
}
.flex-container-row {
    display: flex;
    border: 1px solid red;
    justify-content: center;
}
aside {
	flex-basis: 25%;
}
#content {
	flex-basis: 50%;
}
footer {
	text-align: center;
}